<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/site.css"/>
  <link rel="stylesheet" type="text/css" href="/syntax.css"/>
  <link rel="canonical" href="{{ page.url | canonical }}"/>
  <link rel="author" href="https://plus.google.com/u/0/106903511004318596965">
  <meta name="description" content="{{ page.title }}"/>
</head>
<body>
<div id="main">
<div id="header">
  <div id="blog_title"><a href="/"><img src="/assets/images/logo.png" width=232 height=53></a></div>
  <div id="header_top_container">
    <div id="header_gravatar_container">
      <img src="http://gravatar.com/avatar/c55cecc94ea228ef48787481b2355575?s=100" id="gravatar" width="100" height="100">
    </div>
    <div id="header_details_container">
      <ul class="content_list">
        <li><a href="/about">About</a></li>
        <li><a href="https://github.com/ryanuber?tab=repositories">GitHub</a></li>
        <li><a href="http://forge.puppetlabs.com/ryanuber">Puppet Forge</a></li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
  if (window.devicePixelRatio == 2) {
    document.getElementById("gravatar").src="http://gravatar.com/avatar/c55cecc94ea228ef48787481b2355575?s=200";
  }
  </script>
  <hr>
  <ul class="content_list">
  <div class="list_title">recent posts</div>
{% for post in site.posts limit:10 %}    <li class="recent_post"><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
  </ul>
  <hr>
  <a href="/all_posts">All Posts</a>
</div>
<div id="page">
{{ content }}
  <hr>
  <div id="footer">&copy; 2013 Ryan Uber</div>
</div>
<div id="sidebar">
  <div class="list_title">categories</div>
  <ul class="content_list">
{% for category in site.categories %}    <li><a href="/categories/#{{ category[0] }}">{{ category[0] }}</a></li>{% endfor %}
  </ul>
{% include links.html %}
</div>
</div>
</body>
</html>
